<div id="combatants" class="row">
  <div class="list col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li ui-sref-active="active" ng-repeat="combatant in combatants.combatants">
        <a ui-sref=".detail({name: combatant.name})">
          <img class="job" ng-src="{{combatants.utils.iconUrl(combatant)}}" err-src="{{combatants.utils.errIconUrl()}}" alt="{{combatant.job}}" title="{{combatant.job}}">
          <span>{{combatant.name}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="detail col-md-9">
    <div ui-view class="fade-animation"></div>
  </div>
</div>
